{% set title = 'ショッピングカート' %}
{% set header = true %}
{% extends 'base.html.twig' %}

{% block body %}
  <div class="container m-5">
    <div class="row">
      <h3 class="p-3">ショッピングカート</h3>
    </div>
    {% if session.cart is empty %}
      <p>カートに商品はありません</p>
    {% else %}
      {% include 'cart_items.html.twig' with {'deletable': true, 'count_changeable': true} %}
      <div class="row p-2 float-end">
        <form action="/checkout" method="post">
          {{ csrf_protection() }}
          <input type="hidden" name="action" value="default">
          <button type="submit" class="btn btn-warning py-2">レジに進む</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
