{% set title = 'ログイン' %}
{% extends 'base.html.twig' %}

{% block body %}
  <div class="container p-5" style="width: 450px;">
    {% if success %}
      <script>
        setTimeout(() => { document.location = '/'; }, 3000);
      </script>
      <p>ログインしました</p>
      <p><a href="/">トップページへ</a></p>
    {% else %}
      <form class="container p-5" style="width: 350px;" action="/login" method="post">
        {{ csrf_protection() }}
        <div class="row mb-4">
          <h3>ログイン</h3>
        </div>
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
        <div class="row mb-3">
          <label for="email-input" class="form-label">メールアドレス</label>
          <input type="email" name="email" class="form-control" id="email-input" placeholder="name@example.com">
        </div>
        <div class="row mb-3">
          <label for="password-input" class="form-label">パスワード</label>
          <input type="password" name="password" class="form-control" id="password-input">
        </div>
        <div class="row my-4">
          <input type="submit" class="btn btn-primary" value="ログイン">
        </div>
      </form>
      <div class="container px-5" style="width: 350px;">
        <div class="row">
          <a href="/register" class="btn btn-secondary">アカウントを作成する</a>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
